In [1]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

## Importing list of stocks

Ideally, we would pay to connect directly to the index provider (Standard & Poor's) to pull their real-time constituents of the S&P 500 constituents. 

But we can find static versions of the S&P 500 constituesnt for free here.

In [2]:
stocks_full = pd.read_csv('sp_500_stocks.csv')
stocks = pd.DataFrame({'ticker': stocks_full['Symbol']})

In [24]:
stocks2 = stocks_full['Symbol']

## Acquiring an API token

We will import IEX Cloud API token to gather the financial data.

Using sandbox mode to gather randomized financial data instead of realtime data. This mode allows for testing functions properly before using the real API.

Note: need to restart the kernel in order to import the API token from secrets.py file at the same folder.

In [3]:
from secrets import IEX_CLOUD_API_TOKEN

## Making the first API call

We will retrieve the following information:
* Market capitalization for each stock
* Price of each stock

In [8]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'

In [12]:
data = requests.get(api_url).json()
type(data)

dict

In [13]:
print(data)

{'symbol': 'AAPL', 'companyName': 'Apple Inc', 'primaryExchange': 'SSK/GAANTBCTG MRNQ DEL(LAL)S OAEE', 'calculationPrice': 'tops', 'open': None, 'openTime': None, 'openSource': 'cioalffi', 'close': None, 'closeTime': None, 'closeSource': 'aolficif', 'high': None, 'highTime': None, 'highSource': None, 'low': None, 'lowTime': None, 'lowSource': None, 'latestPrice': 141.664, 'latestSource': 'IEX real time price', 'latestTime': '2:33:41 PM', 'latestUpdate': 1635479582671, 'latestVolume': None, 'iexRealtimePrice': 141.018, 'iexRealtimeSize': 103, 'iexLastUpdated': 1678400588650, 'delayedPrice': None, 'delayedPriceTime': None, 'oddLotDelayedPrice': None, 'oddLotDelayedPriceTime': None, 'extendedPrice': None, 'extendedChange': None, 'extendedChangePercent': None, 'extendedPriceTime': None, 'previousClose': 142.92, 'previousVolume': 126817799, 'change': -0.991, 'changePercent': -0.00732, 'volume': None, 'iexMarketPercent': 0.013137329237003286, 'iexVolume': 1225951, 'avgTotalVolume': 111693385, 'iexBidPrice': 141.64, 'iexBidSize': 101, 'iexAskPrice': 140.99, 'iexAskSize': 404, 'iexOpen': 139.797, 'iexOpenTime': 1646402554936, 'iexClose': 136.23, 'iexCloseTime': 1661409418946, 'marketCap': 2412738960475, 'peRatio': 43.32, 'week52High': 138.12, 'week52Low': 58.49, 'ytdChange': 0.88245826227001, 'lastTradeTime': 1652931084019, 'isUSMarketOpen': True}

## Parsing API call

The API call that's executed in the last code block contains all the information required to build the equal-weight S&P 500 strategy. With that said, the data is not in a proper format yet and we need to parse it first.

In [16]:
price = data['latestPrice']
market_cap = data['marketCap']

market_cap/1000000000000

2.412738960475

## Adding stocks data to a Pandas DataFrame

Store all data in a tabular format initial trial.

In [22]:
colns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of Shares to Buy']
final_df = pd.DataFrame(columns = colns)
final_df.append(
    pd.Series(
        [
            symbol,
            price,
            market_cap,
            'N/A'
        ],
        index = colns,
    ),
    ignore_index=True
)

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0   AAPL      141.664         2412738960475                     N/A

## Looping through the tickers in the list of stocks

In [30]:
final_df = pd.DataFrame(columns = colns)
for symbol in stocks2:
    api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_url).json() # single API calls
    final_df = final_df.append(
        pd.Series(
            [
                symbol,
                data['latestPrice'],
                data['marketCap'],
                'N/A'
            ],
            index = colns,
        ),
        ignore_index=True
    )

In [31]:
final_df

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0      MMM      181.580          100334939156                     N/A
1      AOS       54.830            9080049937                     N/A
2      ABT      110.110          198422806991                     N/A
3     ABBV      108.600          185658791629                     N/A
4     ABMD      325.364           14823866076                     N/A
5      ACN      259.690          178219989284                     N/A
6     ATVI       91.560           73849704041                     N/A
7     ADBE      515.840          245143371452                     N/A
8      AAP      160.910           10704832035                     N/A
9      AMD       92.490          109751795818                     N/A
10     AES       24.360           16234205626                     N/A
11     AFL       45.180           31595120018                     N/A
12       A      120.420           37198826316                     N/A
13     APD      269.150           59940557117                     N/A
14    AKAM      109.600           17971478267                     N/A
15     ALK       54.600            6451275375                     N/A
16     ALB      149.900           16143598951                     N/A
17     ARE      180.650           24456054742                     N/A
18    ALXN      157.380           34559804565                     N/A
19    ALGN      525.800           41629555964                     N/A
20    ALLE      114.630           10465596553                     N/A
21     LNT       50.814           13042073108                     N/A
22     ALL      108.530           32961726556                     N/A
23   GOOGL     1819.710         1208956141541                     N/A
24    GOOG     1803.890         1213743692928                     N/A
25      MO       42.260           78514084784                     N/A
26    AMZN     3459.890         1734833041072                     N/A
27    AMCR       11.900           18445217768                     N/A
28     AEE       77.570           19149050085                     N/A
29     AAL       16.080            9816580917                     N/A
..     ...          ...                   ...                     ...
475      V      223.970          475931353559                     N/A
476    VNO       37.460            6950814237                     N/A
477    VMC      144.950           19594803222                     N/A
478    WRB       66.700           12034917337                     N/A
479    WAB       75.180           14346661860                     N/A
480    WBA       40.200           34200282135                     N/A
481    WMT      144.500          413276862652                     N/A
482     WM      122.480           50076264932                     N/A
483    WAT      251.710           15848319002                     N/A
484    WEC       90.770           28998371109                     N/A
485    WFC       30.990          125172929376                     N/A
486   WELL       63.410           27068952392                     N/A
487    WST      281.930           21229475014                     N/A
488    WDC       49.109           15179955235                     N/A
489     WU       21.910            9157629884                     N/A
490    WRK       45.210           11755488267                     N/A
491     WY       34.950           25027873544                     N/A
492    WHR      187.900           11754663053                     N/A
493    WMB       20.710           24647881187                     N/A
494   WLTW      218.300           27804483769                     N/A
495   WYNN      119.190           12469950996                     N/A
496    XEL       68.580           34546175450                     N/A
497    XRX       23.900            4753506329                     N/A
498   XLNX      145.500           35629064241                     N/A
499    XYL      102.470           17944856993                     N/A
500    YUM      113.690           34308156428                     N/A
501   ZBRA      388.800           20693870391                     N/A
502    ZBH      152.710           32240913984                     N/A
503   ZION       43.385            7168249672                     N/A
504    ZTS      167.600           80343732958                     N/A

[505 rows x 4 columns]

## Using batch API calls to improve performance

HTTP requests are usually the slowest components of a script. API providers, on the other hand, will often provide discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls and we will split our list of stocks into groups of 100s for batch API calls.

In [32]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst"""
    for i in range(0, len(lst), n):
        yield lst[i:(i+n)]

In [50]:
symbol_groups = list(chunks(stocks2, 100))
symbol_strings = []

In [51]:
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])
final_df = pd.DataFrame(columns = colns)

In [52]:
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_df = final_df.append(
            pd.Series(
                [
                    symbol,
                    data[symbol]['quote']['latestPrice'],
                    data[symbol]['quote']['marketCap'],
                    'N/A'
                ],
                index = colns,
            ),
            ignore_index=True
        )

final_df

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0      MMM       180.33          103818841128                     N/A
1      AOS        55.52            9091424603                     N/A
2      ABT       112.18          196124615330                     N/A
3     ABBV       105.50          190053885195                     N/A
4     ABMD       332.40           14797198132                     N/A
5      ACN       261.16          176814879722                     N/A
6     ATVI        93.31           71546843271                     N/A
7     ADBE       504.79          250269745925                     N/A
8      AAP       157.30           11100677330                     N/A
9      AMD        92.24          111730864577                     N/A
10     AES        23.35           15746338858                     N/A
11     AFL        44.99           32256037996                     N/A
12       A       118.27           36030083040                     N/A
13     APD       275.45           61422884586                     N/A
14    AKAM       109.14           17586261478                     N/A
15     ALK        52.74            6654245083                     N/A
16     ALB       151.44           15644081863                     N/A
17     ARE       176.74           23673856045                     N/A
18    ALXN       159.33           34191908842                     N/A
19    ALGN       539.94           41134263993                     N/A
20    ALLE       115.18           10774222152                     N/A
21     LNT        51.99           12689594667                     N/A
22     ALL       112.34           34222704256                     N/A
23   GOOGL      1787.13         1209904470091                     N/A
24    GOOG      1838.86         1192866915504                     N/A
25      MO        42.18           77909578274                     N/A
26    AMZN      3447.00         1684078916747                     N/A
27    AMCR        11.80           18265723709                     N/A
28     AEE        78.64           19096155712                     N/A
29     AAL        16.22            9978822064                     N/A
..     ...          ...                   ...                     ...
475      V       224.42          493300187639                     N/A
476    VNO        36.31            6981007112                     N/A
477    VMC       145.94           19611264256                     N/A
478    WRB        68.60           11827846327                     N/A
479    WAB        75.02           13903874314                     N/A
480    WBA        40.66           34871868522                     N/A
481    WMT       147.60          427577224308                     N/A
482     WM       121.47           49616192656                     N/A
483    WAT       255.20           15596963908                     N/A
484    WEC        92.90           29076884441                     N/A
485    WFC        30.95          124616141074                     N/A
486   WELL        63.51           26783431060                     N/A
487    WST       280.05           21298959365                     N/A
488    WDC        49.10           14738146163                     N/A
489     WU        22.33            9048877558                     N/A
490    WRK        44.48           11854490267                     N/A
491     WY        34.04           25205351148                     N/A
492    WHR       190.90           11910920267                     N/A
493    WMB        20.81           25397760094                     N/A
494   WLTW       210.43           27659988255                     N/A
495   WYNN       117.27           12900957283                     N/A
496    XEL        66.15           35334278598                     N/A
497    XRX        23.32            4716876219                     N/A
498   XLNX       144.00           35723950719                     N/A
499    XYL        99.74           18200534230                     N/A
500    YUM       114.54           33219900330                     N/A
501   ZBRA       383.89           20560548448                     N/A
502    ZBH       155.28           31982618844                     N/A
503   ZION        42.79            7181610212                     N/A
504    ZTS       170.23           79088361670                     N/A

[505 rows x 4 columns]

## Calculating the number of shares to buy

-- based on your portfolio

In [62]:
portfolio_size = input('Enter your portfolio:')

try:
    val = float(portfolio_size)
    print(val)
except ValueError:
    print("That's not a number! \nPlease try again:")
    portfolio_size = input('Enter your portfolio:')
    val = float(portfolio_size)

Enter your portfolio:1000000
1000000.0

In [63]:
position_size = val/len(final_df.index)

for i in range(0, len(final_df.index)):
    final_df.loc[i, 'Number of Shares to Buy'] = math.floor(position_size/final_df.loc[i, 'Stock Price'])

final_df

    Ticker  Stock Price Market Capitalization  Number of Shares to Buy
0      MMM       180.33          103818841128                       10
1      AOS        55.52            9091424603                       35
2      ABT       112.18          196124615330                       17
3     ABBV       105.50          190053885195                       18
4     ABMD       332.40           14797198132                        5
5      ACN       261.16          176814879722                        7
6     ATVI        93.31           71546843271                       21
7     ADBE       504.79          250269745925                        3
8      AAP       157.30           11100677330                       12
9      AMD        92.24          111730864577                       21
10     AES        23.35           15746338858                       84
11     AFL        44.99           32256037996                       44
12       A       118.27           36030083040                       16
13     APD       275.45           61422884586                        7
14    AKAM       109.14           17586261478                       18
15     ALK        52.74            6654245083                       37
16     ALB       151.44           15644081863                       13
17     ARE       176.74           23673856045                       11
18    ALXN       159.33           34191908842                       12
19    ALGN       539.94           41134263993                        3
20    ALLE       115.18           10774222152                       17
21     LNT        51.99           12689594667                       38
22     ALL       112.34           34222704256                       17
23   GOOGL      1787.13         1209904470091                        1
24    GOOG      1838.86         1192866915504                        1
25      MO        42.18           77909578274                       46
26    AMZN      3447.00         1684078916747                        0
27    AMCR        11.80           18265723709                      167
28     AEE        78.64           19096155712                       25
29     AAL        16.22            9978822064                      122
..     ...          ...                   ...                      ...
475      V       224.42          493300187639                        8
476    VNO        36.31            6981007112                       54
477    VMC       145.94           19611264256                       13
478    WRB        68.60           11827846327                       28
479    WAB        75.02           13903874314                       26
480    WBA        40.66           34871868522                       48
481    WMT       147.60          427577224308                       13
482     WM       121.47           49616192656                       16
483    WAT       255.20           15596963908                        7
484    WEC        92.90           29076884441                       21
485    WFC        30.95          124616141074                       63
486   WELL        63.51           26783431060                       31
487    WST       280.05           21298959365                        7
488    WDC        49.10           14738146163                       40
489     WU        22.33            9048877558                       88
490    WRK        44.48           11854490267                       44
491     WY        34.04           25205351148                       58
492    WHR       190.90           11910920267                       10
493    WMB        20.81           25397760094                       95
494   WLTW       210.43           27659988255                        9
495   WYNN       117.27           12900957283                       16
496    XEL        66.15           35334278598                       29
497    XRX        23.32            4716876219                       84
498   XLNX       144.00           35723950719                       13
499    XYL        99.74           18200534230                       19
500    YUM       114.54           33219900330                       17
501   ZBRA       383.89           20560548448                        5
502    ZBH       155.28           31982618844                       12
503   ZION        42.79            7181610212                       46
504    ZTS       170.23           79088361670                       11

[505 rows x 4 columns]

## Formatting Excel output

In [72]:
# Initialize xlsxWriter object

writer = pd.ExcelWriter('computed_trades.xlsx', engine='xlsxwriter')
final_df.to_excel(writer, 'computed_trades', index=False)

In [73]:
# Create the formats needed for .xlsx file
# - String format for tickers
# - $xx.xx format for stock prices
# - $xx.xxx format for market capitalization
# - Integer format for the number of shares to purchase

background_color = '#0a0a23'
font_color = '#ffffff'

string_format = writer.book.add_format(
    {
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

dollar_format = writer.book.add_format(
    {
        'num_format': '$0.00',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

integer_format = writer.book.add_format(
    {
        'num_format': '0',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

In [67]:
# Apply the formats to the columns of .xlsx file.

writer.sheets['computed_trades'].set_column('A:A', 18, string_format)
writer.sheets['computed_trades'].set_column('B:B', 18, dollar_format)
writer.sheets['computed_trades'].set_column('C:C', 18, dollar_format)
writer.sheets['computed_trades'].set_column('D:D', 18, integer_format)

# Handle column indices:

writer.sheets['computed_trades'].write('A1', 'Ticker', string_format)

# Save
writer.save()

In [74]:
# Simplify the previous code block by putting it in 2 loops:

column_formats = {
    'A': ['Ticker', string_format],
    'B': ['Stock Price', dollar_format],
    'C': ['Market Capitalization', dollar_format],
    'D': ['Number of Shares to Buy', integer_format]
}

for column in column_formats.keys():
    writer.sheets['computed_trades'].set_column(f'{column}:{column}', 18, column_formats[column][1])
    writer.sheets['computed_trades'].write(f'{column}1', column_formats[column][0], column_formats[column][1])

writer.save()